<p>
    <%= @game.name %>
</p>
<div class="chessboard">
    <table>
        <tbody>
            <% (1..8).each do |y_position| %>
            <tr id=<%=y_position %>>
                <% (1..8).each do |x_position| %>
                <td data-x-coord=<%=x_position %>
                    data-y-coord=
                    <%= y_position %> class='tile
                    <%= "#{
                      (y_position % 2 == x_position % 2 ? "white" : "black")}" %>
                    <%= "highlighted" if y_position == @piece.y_position && x_position == @piece.x_position %>'>
                    <% if piece = @game.pieces.where("(x_position = ? AND y_position = ?)", x_position,y_position).first %>
                    <span>
                        <%= link_to piece.html_code.html_safe, piece_path(piece) %>
                    </span>
                    <% end %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>