<p>
    <%= @game.name %>
</p>
<div class="chessboard">
    <% (1..8).each do |y| %>
    <% (1..8).each do |x| %>
    <%  piece = @game.pieces.where("(x_position = ? AND y_position = ?)", x,y).first %>
    <% if piece.nil? %>
    <div class="<%= @game.tile_color(x,y)%>"></div>
    <% else %>
    <div class="<%= @game.tile_color(x,y)%>">
        <span id="<%= piece.id %>">
            <%=  piece.html_code.html_safe %></span>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <br />
    <script>
    </script>
    <%
=begin%>
    <div class="chessboard">
        <table>
            <tbody>
                <% (1..8).each do |y_position| %>
                <tr id=<%=y_position %>>
                    <% (1..8).each do |x_position| %>
                    <td data-x-coord=<%=x_position %>
                        data-y-coord=
                        <%= y_position %> class='tile
                        <%= "#{
                      (y_position % 2 == x_position % 2 ? "white" : "black")}" %>'>
                        <% if piece = @game.pieces.where("(x_position = ? AND y_position = ?)", x_position,y_position).first %>
                        <span>
                            <%=  piece.html_code.html_safe %>
                        </span>
                        <% end %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <%
=end %>